In [3]:
import os
import random
import re
import time
import matplotlib.pyplot as plt
from copy import deepcopy

import numpy as np
import pandas
import torch
from torch.utils.data import Dataset, DataLoader
from tqdm import tqdm

import preprocess
import utils
import data as mydata
import sys

In [4]:
simulated_argv = ['data.py', '--datadir', '/mnt/sda1/arash/data/solar_flare',
                  "--logdir", "log",
                  "--gpu", "3",
                  "--cache"]

sys.argv = simulated_argv

args = utils.arg_parse()

In [9]:
data = mydata.Data(args, verbose=False)

Reading all files df ...
/mnt/sda1/arash/data/solar_flare/full_data_X_1_25.npy
Reading all files np ...

In [10]:
data.all_files_df.head(5)

,path,active_region,partition,label
0,partition1\FL\M1.0@1235_Primary_ar384_s2011-02...,ar384,partition1,M
1,partition1\FL\M1.0@1235_Primary_ar384_s2011-02...,ar384,partition1,M
2,partition1\FL\M1.0@1235_Primary_ar384_s2011-02...,ar384,partition1,M
3,partition1\FL\M1.0@1235_Primary_ar384_s2011-02...,ar384,partition1,M
4,partition1\FL\M1.0@1238_Primary_ar384_s2011-02...,ar384,partition1,M

In [12]:
data.all_files_np[:5].shape

(5, 24, 60)

In [14]:
train_parts = [i for i in range(1, 6) if i not in [1]]
args.test_part = 1
normalization_mode = 0
n = [5000, 5500]

In [15]:
data.numpydataset(train_parts, 0, args, None, n, train=True, )

[2, 3, 4, 5]